<div class="panel panel-default swimlane">
  <div class="panel-heading">
    <h5 class="panel-title">{{swimlane.title}}</h5>
    <a href="#" {{action 'deleteSwimlane'}} class="delete-button">&times;</a>
  </div>
  {{yield}}
</div>
