<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Create new board</h2>
    <form {{action "submitBoard" on="submit"}} class="">
      <div class="form-group">
        {{input value=board.owner class="form-control" placeholder="Owner"}}
      </div>
      <div class="form-group">
        {{input value=board.repo_name class="form-control" placeholder="Repo name"}}
      </div>
      <button class="btn btn-primary" {{action "submitBoard"}}>Create board</button>
    </form>
  </div>
</div>
<hr>
