<form {{action 'createCard' on="submit"}}>
  <div class="form-group">
    {{textarea value=newCard.body class="form-control" placeholder="Card text"}}
  </div>
  <button type="submit" class="btn btn-primary btn-xs">Add</button>
</form>
