{{#each itemController='swimlane'}}
  {{view 'swimlane' contentBinding='this'}}
{{/each}}
<div class="panel panel-default swimlane">
  <div class="panel-heading">
    {{render 'swimlanes/new' }}
  </div>
</div>
